.skin-black .main-header>.navbar {
	background-color: #cd3333;
}

.content-wrapper,.right-side {
	background-color: white;
}

.skin-black .main-header .logo {
	background-color: #cd3333;
	color: white;
}
.skin-black .main-header .logo:hover {
	background-color: black;
}

aside.main-sidebar {
	background-color: black !important;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;

}
.well {
  height: 80px;
  text-align: center;
  padding-top:5px;
}