.skin-black .main-header>.navbar {
	background-color: #cd3333;
}

.content-wrapper,.right-side {
	background-color: white;
}

.skin-black .main-header .logo {
	background-color: #cd3333;
	color: white;
}
.skin-black .main-header .logo:hover {
	background-color: black;
}

aside.main-sidebar {
	background-color: black !important;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;

}
.well {
  min-height: 80px;
  text-align: center;
  padding-top:5px; 
}
.wellfeedback {
  height: 100px;
  text-align: center;
  padding-top:5px; 
}

#concept1 {
  font-size: 20px;
  font-weight: 600;
}
#concept2 {
  font-size: 20px;
  font-weight: 550;
}
#concept3 {
  font-size: 20px;
  font-weight: 550;
}
#instruction1 {
  font-size: 20px;
  font-weight: 600;
}
#instruction2 {
  font-size: 20px;
  font-weight: 550;
}
#instruction3 {
  font-size: 20px;
  font-weight: 550;
}
#instruction4 {
  font-size: 20px;
  font-weight: 550;
}

#answer {
  text-align: center;
  font-size:20px;
  color: red;
  font-weight: bold;
}
#feedback1 {
  font-weight: normal;
  font-size: 20px;
  
}
#feedback2 {
  font-weight: normal;
  font-size: 20px;
  
}
#feedback3 {
  font-weight: normal;
  font-size: 20px;
  
}