.skin-black .main-header>.navbar {
	background-color: #cd3333;
}

.content-wrapper,.right-side {
	background-color: white;
}

.skin-black .main-header .logo {
	background-color: #cd3333;
	color: white;
}
.skin-black .main-header .logo:hover {
	background-color: black;
}

aside.main-sidebar {
	background-color: black !important;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;

}
.well {
  min-height: 80px;
  text-align: center;
  padding-top:5px; 
}
.wellfeedback {
  height: 100px;
  text-align: center;
  padding-top: 5px; 
  padding-left: 0;
  padding-right: 0;
  
}

#about1 {
  font-size: 20px;
  font-weight: 600;
}
#about2 {
  font-size: 20px;
  font-weight: 550;
}
#background1 {
  font-size: 20px;
  font-weight: 600;
}
#background2 {
  font-size: 20px;
  font-weight: 550;
}
#background3 {
  font-size: 20px;
  font-weight: 550;
}
#instruction1 {
  font-size: 20px;
  font-weight: 600;
}
#instruction2 {
  font-size: 20px;
  font-weight: 550;
}
#instruction3 {
  font-size: 20px;
  font-weight: 550;
}
#instruction4 {
  font-size: 20px;
  font-weight: 550;
}
#ack1 {
  font-size: 20px;
  font-weight: 600;
}
#ack2 {
  font-size: 20px;
  font-weight: 550;
}

#answer {
  text-align: center;
  font-size:20px;
  color: red;
  font-weight: bold;
}
#feedback1 {
  font-weight: normal;
  font-size: 20px;
  
}
#feedback2 {
  font-weight: normal;
  font-size: 20px;
  
}
#feedback3 {
  font-weight: normal;
  font-size: 20px;
  
}
.arrow {
  background-color: transparent;
  border: none;
  width : 250px;
  color: red;
  font-weight: bold;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
}

.popover-title {
    color: white;
    font-size: 15px;
    background-color:black;
}
.popover-content {
    color: red;
    font-size: 10px;
}
